
{% extends 'base.html' %}


{% block content %}


<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h2 class="mb-4">Lista de Ordens</h2>
    </div>
    <a href="{{url_for('order.add')}}" class="btn btn-outline-primary">Novo</a>
  </div>

  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Número da Ordem</th>
        <th scope="col">Tipo de Pedido</th>
        <th scope="col">Nome</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <!-- Exemplo de uma ordem -->
      {% if data:%}
        {%for x in data:%}
          <tr>
          
          <td>{{x[0]}}</td>
          <td>{{x[2]}}</td>
          <td>{{x[1]}}</td>
          <td>
            <a href="{{url_for('order.view', id=x[0])}}">
              <button class="btn btn-transparent btn-sm">Ver</button>
            </a>
        </td>
                
              </tr>
                {%endfor%}
                {%else:%}
                <tr>
                
                
                <td>nao existem dados</td>
                <td></td>
                <td></td>
              </tr>
                
          {%endif%}
      
    </tbody>
  </table>
</div>

{% endblock %}


<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Ordens</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .btn-transparent {
      background-color: transparent;
      color: blue;
      border: 1px solid blue;
    }
    .btn-transparent:hover {
      background-color: rgba(0, 0, 255, 0.1); /* Leve fundo azul ao passar o mouse */
      color: blue;
    }
  </style>
</head>
<body>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
